
<!-- Change password HTML -->
<div id="changePasswordModal" class="modal fade" style="margin-top: 80px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url "accounts_app:login" %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title fs-6"> Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body p-4">
                    <!-- old password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="current_password" name="current_password" class="form-control border-0" />
                        <label class="form-label" for="current_password">Old Password</label>
                    </div>
                    <!-- new password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="new_password" name="new_password" class="form-control border-0" />
                        <label class="form-label" for="new_password">New Password</label>
                    </div>
                    <!-- confirm password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control border-0" />
                        <label class="form-label" for="confirm_password">Confirm Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary text-capitalize">Save Change</button>
                </div>
            </form>
        </div>
    </div>
</div>



