

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="mb-5">
            <h3 class="footer-heading mb-4">About Somaali Real Estate</h3>
            <h3 class="footer-heading-2"></h3>
            <p>Somaali Real Estate is a premier real estate company in Mogadishu, Somalia, committed to transforming the
              property landscape. With a focus on innovation and client satisfaction, we offer comprehensive real estate
              services, including property management, development, and investment opportunities.</p>
          </div>
        </div>

        <div class="col-lg-2 mb-5">
          <h3 class="footer-heading mb-4">Navigations</h3>
          <h3 class="footer-heading-2"></h3>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">Rent</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 mb-5">
          <h3 class="footer-heading mb-4">Contact Us</h3>
          <h3 class="footer-heading-2"></h3>
          <ul class="list-unstyled">
            <li><a href="#">+252615272255</a></li>
            <li><a href="#">+252615221557</a></li>
            <li><a href="#">+252613893168</a></li>
            <li><a href="#">+252615780877</a></li>
            <li><a href="#">somaalirealestate@gmail.com</a></li>
          </ul>
        </div>

        <div class="col-lg-3 mb-5">
          <h3 class="footer-heading mb-4">Follow Us</h3>
          <h3 class="footer-heading-2"></h3>
          <div>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a
              href="#" target="_blank">Somaali Real Estate</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>