
{% load static %}
<!-- Testimonial -->
<section id="tranding" class="mt-5 pb-5">
    <div class="testmonial_container ps-0 pe-0 pt-5">
      <div class="container">
        <div class="site-section-title text-center">
          <h2 id="choose">Our Agents</h2>
          <p id="choose_paragraph">Meet the dedicated professionals at Somaali Real Estate, committed to delivering
            exceptional service and expertise in guiding you through the Mogadishu real estate landscape. Trust us to
            make your property journey seamless and satisfying.</p>
        </div>
      </div>
  
      <div class="swiper tranding-slider">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide tranding-slide bgcolor">
            <div class="tranding-slide-content ">
  
              <div class="quoteDiv">
                <img src="{% static "./user_styles/images/quotesGreen.png" %}" class="img-fluid quote" alt="">
              </div>
              <div class="container ps-4 pe-4 ps-sm-0 pe-sm-0">
                <div class="row  ms-2 me-2">
                  <div class="col align">
                    <div class="d-flex justify-content-start align-items-center ps-0">
                      <div class="responsive-div">
                        <img src="{% static "./user_styles/images/person_1.jpg" %}" class="img-fluid persons" alt="Person Image">
                      </div>
                      <div class="personalTestmonial">
                        <h5 class="v2_font">Gaab Shiine</h5>
                        <span class="d-block fs-6 fw-bold">Real Estate Agent</span>
                      </div>
                    </div>
                    <!-- justifiedtext -->
                    <div class="mt-3 ps-1 ps-1 card-text testInfo">
                      I am dedicated to helping you find the perfect property in Mogadishu. With a
                      focus on your unique needs and preferences, I strive to make your real
                      estate experience with Somaali Real Estate exceptional.
                    </div>
                  </div>
                </div>
              </div>
  
  
            </div>
          </div>
          <!-- Slide-end -->
  
          <!-- Slide 2 -->
          <div class="swiper-slide tranding-slide bgcolor">
  
            <div class="swiper-slide tranding-slide bgcolor ">
              <div class="tranding-slide-content ">
  
                <div class="quoteDiv">
                  <img src="{% static "./user_styles/images/quotesGreen.png" %}" class="img-fluid quote" alt="">
                </div>
                <div class="container ps-4 pe-4 ps-sm-0 pe-sm-0">
                  <div class="row  ms-2 me-2">
                    <div class="col align">
                      <div class="d-flex justify-content-start align-items-center ps-0  ">
                        <div class=" responsive-div">
                          <img src="{% static "./user_styles/images/person_2.jpg" %}" class="img-fluid persons" alt="Person Image">
                        </div>
                        <div class="personalTestmonial">
                          <h5 class="v2_font">Abdalla Xaayow</h5>
                          <span class="d-block fs-6 fw-bold">Real Estate Agent</span>
                        </div>
                      </div>
                      <!-- justifiedtext -->
                      <div class="mt-3 ps-1 ps-1 card-text testInfo">
                        Dedicated to your satisfaction, Xaayow brings personalized service and
                        market insights to your real estate journey. Choose Somaali Real Estate
                        for an agent committed to ensuring your success in Mogadishu's dynamic
                        real estate market
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
            <!-- Slide-end -->
          </div>
          <!-- Slide-end -->
  
          <!-- Slide 3 -->
          <div class="swiper-slide tranding-slide bgcolor">
  
            <div class="swiper-slide tranding-slide bgcolor ">
              <div class="tranding-slide-content ">
  
                <div class="quoteDiv">
                  <img src="{% static "./user_styles/images/quotesGreen.png" %}" class="img-fluid quote" alt="">
                </div>
                <div class="container ps-4 pe-4 ps-sm-0 pe-sm-0">
                  <div class="row  ms-2 me-2">
                    <div class="col align">
                      <div class="d-flex justify-content-start align-items-center ps-0  ">
                        <div class="responsive-div">
                          <img src="{% static "./user_styles//images/person_3.jpg" %}" class="img-fluid persons" alt="Person Image">
                        </div>
                        <div class="personalTestmonial">
                          <h5 class="v2_font">Haashim Ahmet</h5>
                          <span class="d-block fs-6 fw-bold">Real Estate Agent</span>
                        </div>
                      </div>
                      <!-- justifiedtext -->
                      <div class="mt-3 ps-1 ps-1 card-text testInfo">As your real estate partner,
                        I am committed to providing expert guidance and ensuring a smooth
                        transaction. Trust me to navigate the Mogadishu real estate market for
                        you, tailoring every step to meet your objectives.
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
            <!-- Slide-end -->
          </div>
          <!-- Slide-end -->
  
          <!-- Slide 4 -->
          <div class="swiper-slide tranding-slide bgcolor">
  
            <div class="swiper-slide tranding-slide bgcolor ">
              <div class="tranding-slide-content ">
  
                <div class="quoteDiv">
                  <img src="{% static "./user_styles/images/quotesGreen.png" %}" class="img-fluid quote" alt="">
                </div>
                <div class="container ps-4 pe-4 ps-sm-0 pe-sm-0">
                  <div class="row  ms-2 me-2">
                    <div class="col align">
                      <div class="d-flex justify-content-start align-items-center ps-0  ">
                        <div class="responsive-div">
                          <img src="{% static "./user_styles/images/person_4.jpg" %}" class="img-fluid persons" alt="Person Image">
                        </div>
                        <div class="personalTestmonial">
                          <h5 class="v2_font">Mohamet Mohamud</h5>
                          <span class="d-block fs-6 fw-bold">Real Estate Agent</span>
                        </div>
                      </div>
                      <!-- justifiedtext -->
                      <div class="mt-3 ps-1 ps-1 card-text testInfo">As a seasoned Real Estate Specialist at Somaali
                        Real Estate, my commitment is to elevate your property journey. With a deep understanding of
                        Mogadishu's real estate market, I tailor each transaction to your unique needs and preferences.
                        Your satisfaction is paramount, making your experience with Somaali Real Estate truly
                        exceptional.
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
            <!-- Slide-end -->
          </div>
          <!-- Slide-end -->
  
          <!-- slide 5 -->
          <div class="swiper-slide tranding-slide bgcolor">
  
            <div class="swiper-slide tranding-slide bgcolor ">
              <div class="tranding-slide-content ">
  
                <div class="quoteDiv">
                  <img src="{% static "./user_styles/images/quotesGreen.png" %}" class="img-fluid quote" alt="">
                </div>
                <div class="container ps-4 pe-4 ps-sm-0 pe-sm-0">
                  <div class="row  ms-2 me-2">
                    <div class="col align">
                      <div class="d-flex justify-content-start align-items-center ps-0  ">
                        <div class=" responsive-div">
                          <img src="{% static "./user_styles//images/person_6.jpg" %}" class="img-fluid persons" alt="Person Image">
                        </div>
                        <div class="personalTestmonial">
                          <h5 class="v2_font">Abdinor Hassan</h5>
                          <span class="d-block fs-6 fw-bold">Real Estate Agent</span>
                        </div>
                      </div>
                      <!-- justifiedtext -->
                      <div class="mt-3 ps-1 ps-1 card-text testInfo">
                        I employ innovative strategies to present our properties online. Utilizing multimedia channels, I guarantee our listings reach the ideal audience, providing a smooth digital experience for property seekers in Mogadishu. Trust in technology to elevate your real estate journey with Somaali Real Estate.
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
            <!-- Slide-end -->
          </div>
  
        </div>
  
        <div class="tranding-slider-control">
          <div class="swiper-button-prev slider-arrow">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </div>
          <div class="swiper-button-next slider-arrow">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </div>
  </section>