{% extends 'base_user.html' %}
{% load static %}
{% block content %}
<div class="site-section" style="background-color:#f9f9f9 !important">
    <section class="container-lg rounded-5">
        <div class="px-4 py-5 px-md-5 rounded-2">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card" style="border-radius: 5px; border: 0;">
                            <div class="card-body py-5 px-md-5">
                                <h3 class="text-center fs-5 fw-bold pb-3 text-uppercase" style="color: #212A55;">Choose Your Role</h3>
                                <p class="text-center pb-5" style="color: #858585;">Please select the role you want to reset the password for:</p>
                                {% include "partials/alert_message.html" %}
                                <form action="{% url 'accounts_app:choose_role_reset' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="email1" value="{{ email }}">
                                    <div class="mb-4">
                                        <label for="role" class="form-label">Select Your Role</label>
                                        <select class="form-select" id="role" name="role" required>
                                            <option value="" selected disabled>-- Select Role --</option>
                                            <option value="Owner">Owner</option>
                                            <option value="Tenant">Tenant</option>
                                        </select>
                                    </div>
                                    <button class="btn text-uppercase btn-primary btn-block mb-4" type="submit">
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                        <span class="button-text">Continue</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
