{% load static %}

{% block content_modal %}

<!-- complaint modal HTML -->
<div id="complaintModal" class="modal fade" style="margin-top: 80px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="POST" id="loginForm">
                <div class="modal-header">
                    <h4 class="modal-title fs-6"> Complaint Request</h4>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body p-4" style="max-height: 450px; overflow-y: auto;">
                  <p class="text-muted mb-4 fs-6 text-center" style="margin-top: -10px;">Pleas Fill out the following Form With your Complaint. We will Review your 
                    request and follow up with you as soon as possible.</p>
                    <form action="">
                      <div class="row">
  
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="complaint-type" class="form-label">Complaint
                                    Type <span class="text-danger">*</span></label>
                                {% comment %} <select class="form-select" id="complaint-type" required>
                                    <option value="" {% if not request.POST.complaint-type %}selected{% endif %}>Select Complaint Type</option>
                                    <option value="electrical" {% if request.POST.complaint-type == 'electrical' %}selected{% endif %}>Electrical</option>
                                    <option value="fire" {% if request.POST.complaint-type == 'fire' %}selected{% endif %}>Fire</option>
                                    <option value="repair" {% if request.POST.complaint-type == 'repair' %}selected{% endif %}>Repair</option>
                                    <option value="security" {% if request.POST.complaint-type == 'security' %}selected{% endif %}>Security</option>
                                    <option value="neighbor" {% if request.POST.complaint-type == 'neighbor' %}selected{% endif %}>Neighbor Issue</option>
                                    <option value="others" {% if request.POST.complaint-type == 'others' %}selected{% endif %}>Others</option>
  
                                </select> {% endcomment %}
                                <div class="invalid-feedback">
                                    Select Complaint Type
                                </div>
                            </div>
                        </div>
  
                        <div class="col-md-6">
                            <div class="mb-3">
                                {% comment %} <label for="complaint-status" class="form-label">Complaint
                                    Status <span class="text-danger">*</span></label>
                                <select class="form-select" id="complaint-status" required>
                                    <option value="" {% if not request.POST.complaint-status %}selected{% endif %}>Select Complaint Status</option>
                                    <option value="un-resolved" {% if request.POST.complaint-status == 'un-resolved' %}selected{% endif %}>Un Resolved</option>
                                    <option value="in-progress" {% if request.POST.complaint-status == 'in-progress' %}selected{% endif %}>In Propgress</option>
                                    <option value="resolved" {% if request.POST.complaint-status == 'resolved' %}selected{% endif %}>Resolved</option>
                                </select>
                                <div class="invalid-feedback">
                                    Select Complaint Status
                                </div> {% endcomment %}
                            </div>
                        </div>
  
  
                    </div> <!-- end row -->
  
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                            <label for="phone-number" class="form-label">Phone
                                Number <span class="text-danger">*</span></label>
                            {% comment %} <input type="text" id="phone-number" name="phone-number" value="{{ request.POST.phone-number|default_if_none:'' }}" class="form-control"
                                required> {% endcomment %}
                            <div class="invalid-feedback">
                                Please Enter Your Phone Number.
                            </div>
                        </div>
                    </div>
                    </div> <!-- end row -->
  
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                            <label for="complaint-description"
                                class="form-label">Complaint Description</label>
                            <textarea class="form-control" id="complaint-description"
                                rows="3" placeholder="Write some note..">{{ request.POST.complaint_description|default_if_none:'' }}</textarea>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Submit button -->
                    <button class="btn btn-primary text-capitalize" type="submit">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="button-text">Submit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </div>




{% endblock  %}



