
{% block content_modal %}

<div id="editProfile" class="modal fade" style="margin-top: 85px;"  tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit {____} Profile</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="max-height: 520px; overflow-y: auto;">
            {% include "partials/alert_message.html" %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="first_name" name="first_name" style="height: 40px;" class="form-control my-3" />
                        <label class="form-label" for="first_name" required>First Name</label>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="middle_name" name="middle_name" style="height: 40px;" class="form-control my-3" />
                        <label class="form-label" for="middle_name" required>Middle Name</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="last_name" name="last_name" style="height: 40px;" class="form-control my-3" />
                        <label class="form-label" for="last_name" required>Last Name</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-6">
                    <!-- Email input -->
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="email" id="type_email" name="type_email" style="height: 40px;" class="form-control my-3" />
                        <label class="form-label" for="type_email" required>Email Address</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6" style="margin-top: 17px">
                    <!-- Email input -->
                    <div class="mb-3">

                      <select class="form-select" name="gender" id="gender" required>
                        <option value="">Choose Your Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>

                      </select>
                      <div class="invalid-feedback">
                        Choose Your Gender
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="date" id="date_of_birth" name="date_of_birth" style="height: 40px;" class="form-control my-3" required />
                        <label class="form-label" for="date_of_birth">Date of Birth</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="phone_number" name="phone_number" style="height: 40px;" class="form-control my-3" required />
                        <label class="form-label" for="last_name">Phone Number</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="address" name="address" style="height: 40px;" class="form-control my-3" required/>
                        <label class="form-label" for="address">Address</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="occupation" name="occupation" style="height: 40px;" class="form-control my-3" required/>
                        <label class="form-label" for="occupation">Occupation</label>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6" style="margin-top:17px">
                    <div class="mb-3">

                      <select class="form-select" id="state" name="state" required>
                        <option value="">Choose State of Residence</option>
                        <option value="BN">Banadir</option>
                        <option value="HR">Hershabelle</option>
                        <option value="Gal">Galmudug</option>
                        <option value="JB">Jubbaland</option>
                        <option value="Koonfur-galbeed">Koonfur Galbeed</option>
                        <option value="Puntland">Buntland</option>

                      </select>
                      <div class="invalid-feedback">
                        Choose State of Residence
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Upload Profile Picture</label>
                      <input type="file" class="form-control-file" id="imageInput" id="formFile" name="profile_picture" accept="image/*">
                    </div>
                  </div>

                </div>
                <button type="submit" class="btn btn-primary btn-block text-capitalize">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>




{% endblock  %}



