{% extends 'base_user.html' %}


{% block content %}
<!-- login side -->
<div class="site-section" style="background-color:#f9f9f9 !important">
  <!-- Section: Design Block -->
  <section class="container-lg rounded-5">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 rounded-2">
      <div class="container">
        <div class="row justify-content-center align-items-center">

          <div class="col-lg-6 mb-5 mb-lg-0">

            <div class="card" style="border-radius: 5px; border: 0;">
              <div class="card-body py-5 px-md-5">
                <h3 class="text-center fs-5 fw-bold pb-3 text-uppercase" style="color: #212A55;">Reset Your Password</h3>
                <p class="text-center pb-5" style="color: #858585;">Please enter your new password!</p>
                {% include "partials/alert_message.html" %}
                <form action="{% url 'accounts_app:password_reset_form' uidb64=uidb64 token=token user_type=user_type %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="password" id="password" name="password" value="{{ request.POST.password|default_if_none:'' }}" style="height: 40px;"
                            class="form-control my-3" required/>
                          <label class="form-label" for="password">New Password</label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="password" id="confirm_password" name="confirm_password" value="{{ request.POST.confirm_password|default_if_none:'' }}" style="height: 40px;"
                            class="form-control my-3" required/>
                          <label class="form-label" for="confirm_password">Confirm New Password</label>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">
                      <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                      <span class="button-text">Reset Password</span>
                    </button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>

{% include "accounts_app/reset_password_modal.html" %}


<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>

{% endblock %}