

<!-- Reset password HTML -->
<div id="resetPasswordModal" class="modal fade" style="margin-top: 80px;"  tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'accounts_app:reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="email1" name="email1" class="form-control" />
                        <label class="form-label" for="email1">Email address</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block text-capitalize">Reset Password</button>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" href="{% url "accounts_app:login" %}">Login</a>
                        <a class="" href="{% url "accounts_app:register" %}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  