{% load static %}
{% block content_modal %}
<div id="resetPasswordModal" class="modal fade" style="margin-top: 80px;" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% include "partials/alert_message.html" %}
                <form action="{% url 'accounts_app:reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="email1" name="email1" value="{{ request.POST.email1|default_if_none:'' }}" class="form-control" required />
                        <label class="form-label" for="email1">Email address</label>
                    </div>
                    <button class="btn btn-primary btn-block text-capitalize" type="submit">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="button-text">Reset Password</span>
                    </button>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" href="{% url "accounts_app:login" %}">Login</a>
                        <a class="" href="{% url "accounts_app:register" %}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
