{% extends "base_admin.html" %}
{% load static %}

<!-- wrapper -->
{% block wrapper %}

<div class="wrapper">
    {% include "admin_partial/left_sidebar.html" %}

    <div class="content-page">
        <div class="content">
            {% include "admin_partial/topbar.html" %}
            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">SomaliRealEState</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                                    <li class="breadcrumb-item active">Apartment Units</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Add Apartment Units</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <!-- tab -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- Steps Information -->
                                <div class="tab-content">

                                    <!-- Create Apartment Units-->
                                    <div class="tab-pane show active" id="create-property">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mt-2">Add Apartment Unit Details</h4>
                                                <p class="text-muted mb-4">Please fill in the apartment unit details below to register the rooms of the apartment.</p>
                                        
                                                <form method="POST" action="{% url 'admin_dashboard:create_room' apartment.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="property-name" class="form-label  ">Apartment Name</label>
                                                                <input class="form-control" type="text" name="apartment_name" value="{{ apartment.apartment_name }}" id="property-name" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="property-unit-name" class="form-label">Apartment Unit Name <span class="text-danger">*</span></label>
                                                                <input class="form-control" type="text" name="room_name" placeholder="e.g., Room 2" id="property-unit-name" required>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="floor-number" class="form-label">Floor Number <span class="text-danger">*</span></label>
                                                                <input class="form-control" type="number" name="floor_number" placeholder="Enter Floor number" id="floor-number" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="property-unit-type" class="form-label">Property Unit Type <span class="text-danger">*</span></label>
                                                                <select class="form-select" id="property-unit-type" name="room_type" required>
                                                                    <option value="">Select Property Unit Type</option>
                                                                    <option value="master">Master Room</option>
                                                                    <option value="single">Single Room</option>
                                                                    <option value="one_bedroom">One Bedroom</option>
                                                                    <option value="two_bedroom">Two Bedroom</option>
                                                                    <option value="three_bedroom">Three Bedroom</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Please select the type of room.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="rent-amount" class="form-label">Rent <span class="text-danger">*</span></label>
                                                                <div class="input-group flex-nowrap">
                                                                    <span class="input-group-text">$</span>
                                                                    <input type="text" id="rent-amount" name="rent_amount" class="form-control" aria-label="Rent" aria-describedby="basic-addon1" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="deposit-amount" class="form-label">Deposit</label>
                                                                <div class="input-group flex-nowrap">
                                                                    <span class="input-group-text">$</span>
                                                                    <input type="text" id="deposit-amount" name="deposit_amount" class="form-control" aria-label="Deposit" aria-describedby="basic-addon2">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mb-3">
                                                                <label for="description" class="form-label">Description (Optional)</label>
                                                                <textarea class="form-control" id="description" name="room_description" rows="3" placeholder="Write some note.."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mb-3">
                                                                <label for="room-image" class="form-label">Upload Room Images</label>
                                                                <input type="file" id="room-image" name="room_image" class="form-control" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-8">
                                                            <div class="text-sm-end">
                                                                <button class="btn btn-primary" type="submit">
                                                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                                                    <span class="button-text"><i class="mdi mdi-truck-fast me-1"></i> Create Apartment Unit</span>
                                                                </button>
                                                            </div>
                                                        </div> <!-- end col -->
                                                    </div> <!-- end row -->
                                                </form>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                    <h4 class="header-title mb-3">Added Rooms For An Apartment</h4>
                                                    <div class="table-responsive">
                                                        <table class="table table-centered mb-0">
                                                            <tbody>
                                                                {% for room in rooms %}
                                                                <tr>
                                                                    <td>
                                                                        <p class="m-0 d-inline-block align-middle">
                                                                            <a href="" class="text-body fw-semibold">{{ room.room_name }}</a>
                                                                            <br>
                                                                            <small>{{ room.status }}</small>
                                                                        </p>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        ${{ room.rent_amount }}
                                                                    </td>
                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="2">No rooms added yet.</td>
                                                                </tr>
                                                                {% endfor %}
                                                                <td>
                                                                    <a href="{% url 'admin_dashboard:view_rooms' apartment.id %}" class="btn btn-primary btn-sm">View All Rooms</a>
                                                                </td>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                    </div>
                                    <!-- End create Apartment Units-->

                                </div> <!-- end tab content-->

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- container -->

            
        </div>
        {% include "admin_partial/footer.html" %}
    </div>
</div>
{% endblock %}


<!-- right_sidebar -->
{% block right_sidebar %}

{% include "admin_partial/right_sidebar.html" %}

{% endblock %}