{% extends "base_admin.html" %}
{% load static %}

{% block wrapper %}

<div class="wrapper">
    {% include "admin_partial/left_sidebar.html" %}
    <div class="content-page">
        <div class="content">
            {% include "admin_partial/topbar.html" %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">SomaliRealEState</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                                    <li class="breadcrumb-item active">Create Apartment</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Create an Apartment</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                {% include "partials/alert_message.html" %}
                                <h4 class="mt-2">Basic Details</h4>
                                <p class="text-muted mb-4">Please complete the form below to register your apartment.</p>

                                <div id="rootwizard">
                                    <ul class="nav nav-pills nav-justified form-wizard-header mb-3">
                                        <li class="nav-item" data-target-form="#accountForm">
                                            <a href="#first" data-bs-toggle="tab" data-toggle="tab"
                                                class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-account-circle me-1"></i>
                                                <span class="d-none d-sm-inline">Basic Details</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-target-form="#profileForm">
                                            <a href="#second" data-bs-toggle="tab" data-toggle="tab"
                                                class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-face-profile me-1"></i>
                                                <span class="d-none d-sm-inline">Location & Features</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-target-form="#otherForm">
                                            <a href="#third" data-bs-toggle="tab" data-toggle="tab"
                                                class="nav-link rounded-0 pt-2 pb-2">
                                                <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                                                <span class="d-none d-sm-inline">Finish</span>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                    <form id="accountForm" method="POST" action="{% url 'admin_dashboard:create_apartment_admin' %}" enctype="multipart/form-data" class="form-horizontal">
                                        {% csrf_token %}
                                        <div class="tab-content mb-0 b-0">
                                            <div class="tab-pane" id="first">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label for="apartment-name" class="form-label col-form-label">Apartment Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text" placeholder="Enter your apartment name" id="apartment_name" name="apartment_name" value="{{ form_data.apartment_name }}" style="height: 40px;" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label for="year-built" class="form-label">Year Built <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="year" placeholder="Enter the year your apartment was built" id="year-built" name="year_built" value="{{ form_data.year_built }}" required />
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label class="area">Area <span class="text-danger">*</span></label>
                                                            <div class="input-group flex-nowrap" style="margin-top: 8px;">
                                                                <span class="input-group-text" id="basic-addon1">SQ Ft</span>
                                                                <input type="text" class="form-control" aria-label="rent" aria-describedby="basic-addon1" id="area" name="area" value="{{ form_data.area }}" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label for="owners" class="form-label">Choose Your Name:</label>
                                                            <select data-toggle="select2" class="form-select" name="owner_id" id="owners" required onchange="checkOwnerIdentification(this.value)">
                                                                <option value="">Select Owner</option>
                                                                {% for owner in owners %}
                                                                <option value="{{ owner.id }}" {% if selected_owner_id|stringformat:"s" == owner.id|stringformat:"s" %}selected{% endif %}>
                                                                    {{ owner.first_name }} {{ owner.last_name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Choose owner name
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label for="description" class="form-label">Description (Optional)</label>
                                                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Write some note..">{{ form_data.description }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="second">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="mb-3">
                                                            <label for="location" class="form-label">Location <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text" placeholder="Enter your location" id="location" name="location" value="{{ form_data.location }}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Choose district located <span class="text-danger">*</span></label>
                                                            <select data-toggle="select2" title="District" id="district_located" name="district_located" required>
                                                                <option value="">Choose District Location</option>
                                                                <option value="Wadajir" {% if form_data.district_located == "Wadajir" %}selected{% endif %}>Wadajir</option>
                                                                <option value="Dharkenley" {% if form_data.district_located == "Dharkenley" %}selected{% endif %}>Dharkenley</option>
                                                                <option value="Deynile" {% if form_data.district_located == "Deynile" %}selected{% endif %}>Daynile</option>
                                                                <option value="Wardhigley" {% if form_data.district_located == "Wardhigley" %}selected{% endif %}>Wardhigley</option>
                                                                <option value="Howlwadag" {% if form_data.district_located == "Howlwadag" %}selected{% endif %}>Howl Wadaag</option>
                                                                <option value="Waberi" {% if form_data.district_located == "Waberi" %}selected{% endif %}>Waberi</option>
                                                                <option value="Hamar Jijab" {% if form_data.district_located == "Hamar Jijab" %}selected{% endif %}>Habar Jajab</option>
                                                                <option value="Bondhere" {% if form_data.district_located == "Bondhere" %}selected{% endif %}>Boondhere</option>
                                                                <option value="Karaan" {% if form_data.district_located == "Karaan" %}selected{% endif %}>Karaan</option>
                                                                <option value="Yaqshid" {% if form_data.district_located == "Yaqshid" %}selected{% endif %}>Yaqshid</option>
                                                                <option value="Huriwaa" {% if form_data.district_located == "Huriwaa" %}selected{% endif %}>Huriwaa</option>
                                                                <option value="Kahda" {% if form_data.district_located == "Kahda" %}selected{% endif %}>Kahda</option>
                                                                <option value="Hodan" {% if form_data.district_located == "Hodan" %}selected{% endif %}>Hodan</option>
                                                                <option value="Shibis" {% if form_data.district_located == "Shibis" %}selected{% endif %}>Shibis</option>
                                                                <option value="Abdiaziz" {% if form_data.district_located == "Abdiaziz" %}selected{% endif %}>Abdiaziz</option>
                                                                <option value="Shangani" {% if form_data.district_located == "Shangani" %}selected{% endif %}>Shangani</option>
                                                                <option value="Daaru Salam" {% if form_data.district_located == "Daaru Salam" %}selected{% endif %}>Daaru salam</option>
                                                                <option value="Garasbaley" {% if form_data.district_located == "Garasbaley" %}selected{% endif %}>Garasbaley</option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Choose District Location
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="mt-2">Apartment Features Checklist</h4>
                                                        <p>Customize your search by selecting the amenities and features that matter most to you.</p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="gym" name="gym" {% if form_data.gym == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="gym">Gym</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="alarm" name="alarm" {% if form_data.alarm == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="alarm">Alarm</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="internet" name="internet" {% if form_data.internet == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="internet">Internet</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="air_conditioner" name="air_conditioner" {% if form_data.air_conditioner == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="air_conditioner">Air Conditioner</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="car_parking" name="car_parking" {% if form_data.car_parking == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="car_parking">Car Parking</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="mt-2">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="swimming_pool" name="swimming_pool" {% if form_data.swimming_pool == 'on' %}checked{% endif %}>
                                                                <label class="form-check-label" for="swimming_pool">Swimming Pool</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="third">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4 class="mt-2">Property Images</h4>
                                                        <p class="text-muted mb-4">Please Insert Pictures of the Apartment at least one Picture.</p>
                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="img_1" class="form-label">Gallery_1 <span class="text-danger">*</span></label>
                                                                        <input type="file" id="img_1" name="img_1" class="form-control" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="img_2" class="form-label">Gallery_2</label>
                                                                        <input type="file" id="img_2" name="img_2" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="img_3" class="form-label">Gallery_3</label>
                                                                        <input type="file" id="img_3" name="img_3" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4 class="mt-2">Property Video</h4>
                                                        <p class="text-muted mb-4">Please Insert one Video of the Apartment.</p>
                                                        <div class="mb-3">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="video" class="form-label">Video</label>
                                                                        <input type="file" id="video" name="video" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="identification_section" style="display: {% if owner_identification_exists %}none{% else %}block{% endif %};">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4 class="mt-2">Owner Identification</h4>
                                                            <p class="text-muted mb-4">Please provide the legal identification details as they appear on your official documents. This information is crucial for verification and security purposes.</p>
                                                            <div class="mb-3">
                                                                <div class="row px-2">
                                                                    <div class="col-md-4">
                                                                        <div class="mb-3">
                                                                            <label for="document_type" class="form-label">Document Type <span class="text-danger">*</span></label>
                                                                            <select data-toggle="select2" class="form-control" name="document_type" id="document_type">
                                                                                <option value="">Choose Document Type</option>
                                                                                <option value="National ID">National ID</option>
                                                                                <option value="Passport">Passport</option>
                                                                                <option value="Driver's License">Driver's License</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="mb-3">
                                                                            <label for="identification_number" class="form-label">Identification Number <span class="text-danger">*</span></label>
                                                                            <input type="text" class="form-control" name="identification_number" id="identification_number">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="mb-3">
                                                                            <label for="document_file" class="form-label">Upload Identification Document <span class="text-danger">*</span></label>
                                                                            <input type="file" class="form-control" name="document_file" id="document_file" accept=".pdf, .docx, .jpg, .jpeg, .png">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="identification_exists_message" style="display: {% if owner_identification_exists %}block{% else %}none{% endif %};">
                                                    <p>Identification details already registered.</p>
                                                </div>
                                            </div>

                                            <ul class="list-inline wizard mb-0 mt-4">
                                                <li class="previous list-inline-item"><a href="javascript:void(0);" class="btn btn-danger" id="previous-button">Previous</a></li>
                                                <li class="next list-inline-item float-end"><a href="javascript:void(0);" class="btn btn-danger" id="next-button">Next</a></li>
                                                <li class="submit list-inline-item float-end" style="display: none;">
                                                    <button class="btn btn-primary" type="submit" name="submit_apartment">
                                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                                        <span class="button-text">Submit</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "admin_partial/footer.html" %}
    </div>
</div>

<script>
    function checkOwnerIdentification(ownerId) {
        if (ownerId) {
            fetch(`/admin_dashboard/check_owner_identification/${ownerId}/`)
            .then(response => response.json())
            .then(data => {
                const identificationSection = document.getElementById('identification_section');
                const identificationExistsMessage = document.getElementById('identification_exists_message');
                if (data.identification_exists) {
                    identificationSection.style.display = 'none';
                    identificationExistsMessage.style.display = 'block';
                } else {
                    identificationSection.style.display = 'block';
                    identificationExistsMessage.style.display = 'none';
                }
            });
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        var $ = jQuery;
        const nextButton = document.getElementById('next-button');
        const previousButton = document.getElementById('previous-button');
        const submitButton = document.querySelector('.submit');
        const navLinks = $('#rootwizard .nav-link');
        const totalTabs = navLinks.length;
        let currentIndex = 0;

        function updateButtonVisibility() {
            if (currentIndex === totalTabs - 1) {
                nextButton.style.display = 'none';
                submitButton.style.display = 'inline-block';
            } else {
                nextButton.style.display = 'inline-block';
                submitButton.style.display = 'none';
            }
            previousButton.style.display = currentIndex === 0 ? 'none' : 'inline-block';
        }

        navLinks.each(function(index) {
            $(this).on('click', function(e) {
                e.preventDefault();
                currentIndex = index;
                $(this).tab('show');
                updateButtonVisibility();
            });
        });

        nextButton.addEventListener('click', function() {
            if (currentIndex < totalTabs - 1) {
                currentIndex++;
                $(navLinks[currentIndex]).tab('show');
            }
            updateButtonVisibility();
        });

        previousButton.addEventListener('click', function() {
            if (currentIndex > 0) {
                currentIndex--;
                $(navLinks[currentIndex]).tab('show');
            }
            updateButtonVisibility();
        });

        updateButtonVisibility();
    });
</script>

{% endblock %}
{% block right_sidebar %}
{% include "admin_partial/right_sidebar.html" %}
{% endblock %}
