{% extends "base_admin.html" %}
{% load static %}
{% block css %}

<style>
    .btn-close-white {
        filter: invert(1) brightness(2);
    }    
</style>

{% endblock css %}
<!-- wrapper -->
{% block wrapper %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="index.html">
                            <span><img src="{% static "./admin_styles/images/whiteLogo.svg" %}" alt="" height="45"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">Password Reset Successful!</h4>
                            <p class="text-muted mb-4">Your password has been successfully reset. You can now log in with your new password.</p>
                            <div class="mb-0 text-center">
                                <a href="{% url 'admin_dashboard:admin_login' %}" class="btn btn-primary"><i class="mdi-account-arrow-left me-1"></i> Back to log in</a>
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

{% endblock wrapper %}

<!-- footer -->
{% block footer %}

{% include "admin_partial/footer_alt.html" %}
{% endblock %}
