{% extends "base_user.html" %}



{% block content %}

<div class="site-section">
  <!-- Section: Design Block -->
  <section class="container-lg rounded-5">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 rounded-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-xl-5">
            <div class="card">
              <div class="card-body p-4 mt-3">
                {% include 'partials/alert_message.html' %}
                <h4 class="page-title fs-5 fw-bold">Property Listing Portal</h4>
                <p class="text-muted mb-4 fs-6">Select the type of listing you wish to create for your property, whether
                  for rent or for outright sale.</p>

                <h6 class="fw-bold text-primary">List a Property for Rent:</h6>
                <p class="text-muted fs-6">Fill in the specifics to list your apartment or house for rent. Click on the
                  relevant checkbox to proceed with your rental listing.</p>
                <label class="checkbox-label mb-5">
                  <input type="checkbox" id="checkbox1" style="width: 18px; height: 18px;"
                    onchange="toggleDetails('details1')"> APARTMENT RENTAL INFO
                </label>
                <label class="checkbox-label mb-5">
                  <input type="checkbox" id="checkbox2" style="width: 18px; height: 18px;"
                    onchange="toggleDetails('details2')"> HOUSE RENTAL INFO
                </label>

                <form method="POST" action="{% url 'rental_property_app:create_apartment' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div id="details1" class="details">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card border-0  shadow-none">
                          <div class="card-body">

                            
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Apartment Name <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter your apartment name"
                                      id="apartment_name" name="apartment_name" style="height: 40px;" required />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Location <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="e.g. 279Q+J4F, Mogadishu"
                                      id="location" name="location" style="height: 40px;" required />
                                  </div>
                                </div>


                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Year Built <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text"
                                      placeholder="Enter the year your apartment was built" id="year_built"
                                      name="year_built" style="height: 40px;" required />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Area <span class="text-danger">
                                        *</span></label>
                                    <div class="input-group flex-nowrap">
                                      <span class="input-group-text" id="basic-addon1" style="height: 40px;">SQ
                                        FT</span>
                                      <input type="text" id="area" name="area" class="form-control" aria-label="rent"
                                        aria-describedby="basic-addon1" style="height: 40px;" required>
                                    </div>
                                  </div>
                                </div>

                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-12">
                                  <div class="mb-3">
                                    <label for="gender" class="form-label">Select Distric Located <span
                                        class="text-danger">*</span></label>
                                    <select class="form-select" id="district_located" name="district_located"
                                      style="height: 40px;" required>
                                      <option value="">Choose District Location</option>

                                      <option value="Wadajir">Wadajir</option>
                                      <option value="Dharkenley">Dharkenley</option>
                                      <option value="Deynile">Daynile</option>
                                      <option value="Wardhigley">Wardhigley</option>
                                      <option value="Howlwadag">Howl Wadaag</option>
                                      <option value="Waberi">Waberi</option>
                                      <option value="Habar jajab">Hamar Jijab</option>
                                      <option value="Boondhere">Bondhere</option>
                                      <option value="Karaan">Karaan</option>
                                      <option value="Yaqshid">Yaqshid</option>
                                      <option value="Huriwaa">Huriwaa</option>
                                      <option value="Kahda">Kahda</option>
                                      <option value="Hodan">Hodan</option>
                                      <option value="Shibis">Shibis</option>
                                      <option value="Abdiaziz">Abdiaziz</option>
                                      <option value="Shangani">Shangani</option>
                                      <option value="Daaru salam">Abdiaziz</option>
                                      <option value="Garasbaley">Garasbaley</option>

                                    </select>
                                    <div class="invalid-feedback">
                                      Choose Distric Location
                                    </div>
                                  </div>
                                </div>

                              </div>


                              <div class="row">
                                <div class="col-12">

                                  <div class="mb-3">
                                    <label for="description" class="form-label">Description (Optional)</label>
                                    <textarea class="form-control" id="description" name="description" rows="3"
                                      placeholder="Write some note.."></textarea>
                                  </div>
                                </div>
                              </div> <!-- end row -->
                              <h4 class="page-title mt-5 fs-6 fw-bold">Apartment Features Checklist</h4>
                              <p class="text-muted mb-4 fs-6">Customize your search by selecting the amenities and
                                features that matter most to you.</p>
                              <div class="row px-2">
                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" name="gym" id="gym">
                                      <label class="form-check-label" for="gym">Gym</label>
                                    </div>
                                  </div>
                                </div>
                                <!-- end col -->

                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="alarm" name="alarm">
                                      <label class="form-check-label" for="alarm">Alarm</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">

                                      <input type="checkbox" class="form-check-input" name="internet" id="internet">
                                      <label class="form-check-label" for="internet">Internet</label>
                                    </div>
                                  </div>
                                </div>
                                <!-- end col -->
                              </div>
                              <!-- end row -->
                              <div class="row px-2">
                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="air_conditioner"
                                        name="air_conditioner">
                                      <label class="form-check-label" for="air_conditioner">Air Conditioner</label>
                                    </div>
                                  </div>
                                </div>
                                <!-- end col -->

                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="car_parking" name="car_parking">
                                      <label class="form-check-label" for="car_parking">Car Parking</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mt-2">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input" id="swimming_pool" name="swimming_pool">
                                      <label class="form-check-label" for="swimming_pool">Swimming Pool</label>
                                    </div>
                                  </div>
                                </div>
                                <!-- end col -->
                              </div>
                              <!-- end row -->
                              <h4 class="page-title mt-5 fs-6 fw-bold">Property Images</h4>
                              <p class="text-muted mb-4 fs-6">Please Insert Pictures of the Apartment atleast three
                                Pictures.</p>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <label for="img_1" class="form-label">Gallery_1 <span class="text-danger">*</span></label>
                                    <input type="file" id="img_1" name="img_1" class="form-control" style="height: 38px;"
                                      required>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <label for="img-2" class="form-label">Gallery_2</span></label>
                                    <input type="file" id="img_2" name="img_2" class="form-control" style="height: 38px;">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <label for="img-3" class="form-label">Gallery_3</label>
                                    <input type="file" id="img_3" name="img_3" class="form-control" style="height: 38px;">
                                  </div>
                                </div>
                              </div> <!-- end row -->
                              <div class="row">
                                <div class="col-md-12">
                                  <h4 class="page-title mt-5 fs-6 fw-bold">Property Video</h4>
                                  <p class="text-muted mb-4">Please Insert one Video of the Apartment.</p>
                                  <div class="mb-3">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="mb-3">
                                          <label for="video" class="form-label">Video</label>
                                          <input type="file" id="video" name="video" class="form-control">
                                        </div>
                                      </div>
                                    </div> <!-- end row -->
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  {% if not owner_identification_exists %}
                                    <h4 class="page-title mt-5 fs-6 fw-bold">Owner Identification</h4>
                                    <p class="text-muted mb-4">Please provide the legal identification details as they appear on your official documents. This information is crucial for verification and security purposes.</p>
                                    <div class="mb-3">
                                      <div class="row px-2">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="document-type" class="form-label">Document Type <span class="text-danger">*</span></label>
                                              <select class="form-control" name="document_type" id="document_type" required>
                                                  <option value="">Choose Document Type</option>
                                                  <option value="National ID">National ID</option>
                                                  <option value="Passport">Passport</option>
                                                  <option value="Driver's License">Driver's License</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="identification-number" class="form-label">Identification Number <span class="text-danger">*</span></label>
                                              <input type="text" class="form-control" name="identification_number" id="identification-number" required>
                                            </div>
                                        </div>
                                        
                                    </div> <!-- end row -->
                                    <div class="row px-2">
                                      <div class="col-md-12">
                                        <div class="mb-3">
                                          <label for="document-file" class="form-label">Upload Identification Document <span class="text-danger">*</span></label>
                                          <input type="file" class="form-control" name="document_file" id="document_file" required accept=".pdf, .docx, .jpg, .jpeg, .png" required>
                                        </div>
                                    </div> 
                                  {% else %}
                                  <div class="col-md-12">
                                      <p>Identification details already registered.</p>
                                  </div>
                                  {% endif %}
                                  </div>
                                  </div> <!-- end row -->
                                </div> 
                              </div>
                              <div class="row mt-4">
                                <div class="col-sm-12">
                                  <div class="text-sm-end">
                                    <button class="btn btn-primary" type="submit" name="create_apartment">
                                      <span class="spinner-border spinner-border-sm d-none" role="status"
                                        aria-hidden="true"></span>
                                      <span class="button-text">Submit</span>
                                    </button>
                                  </div>
                                </div> <!-- end col -->
                              </div> <!-- end row -->
                          </div>  <!-- end card body-->
                        </div> <!-- end card-->
                      </div> <!-- end col-->
                    </div> <!-- end row-->
                  </div> <!-- end details1-->
                </form>
                

              <div id="details2" class="details">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card border-0  shadow-none">
                      <div class="card-body">

                        <div class="row">
                          <div class="col-lg-12">


                            <form class="needs-validation" novalidate>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="house_name" class="form-label">House Name <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter your house name"
                                      id="house_name" name="house_name" style="height: 40px;" />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="amount" class="form-label">Rent <span class="text-danger">
                                        *</span></label>
                                    <div class="input-group flex-nowrap">
                                      <span class="input-group-text" id="basic-addon1" style="height: 40px;">$</span>
                                      <input type="text" id="amount" class="form-control" aria-label="rent"
                                        aria-describedby="basic-addon1" style="height: 40px;" required>
                                    </div>
                                  </div>
                                </div>


                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Year Built <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text"
                                      placeholder="Enter the year your apartment was built" id="year-built"
                                      style="height: 40px;" required />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Area <span class="text-danger">
                                        *</span></label>
                                    <div class="input-group flex-nowrap">
                                      <span class="input-group-text" id="basic-addon1" style="height: 40px;">SQ
                                        FT</span>
                                      <input type="text" id="area" class="form-control" aria-label="rent"
                                        aria-describedby="basic-addon1" style="height: 40px;" required>
                                    </div>
                                  </div>
                                </div>

                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="gender" class="form-label">Select Distric Located <span
                                        class="text-danger">*</span></label>
                                    <select class="form-select" id="gender" style="height: 40px;" required>
                                      <option value="">Choose District Location</option>

                                      <option value="WD">Wadajir</option>
                                      <option value="Dhr">Dharkenley</option>
                                      <option value="Dnl">Daynile</option>
                                      <option value="Wrd">Wardigley</option>
                                      <option value="HWl">Howl Wadaag</option>
                                      <option value="Wbr">Waberi</option>
                                      <option value="HJb">Hamar Jijab</option>
                                      <option value="Bon">Bondhere</option>
                                      <option value="Krn">Karaan</option>
                                      <option value="Yaq">Yaqshid</option>
                                      <option value="Huw">Huriwaa</option>
                                      <option value="Kd">Kahda</option>
                                      <option value="Hdn">Hodan</option>
                                      <option value="Shb">Shibis</option>
                                      <option value="Abd">Abdiaziz</option>
                                      <option value="Shg">Shangani</option>

                                    </select>
                                    <div class="invalid-feedback">
                                      Choose Owner Name
                                    </div>
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Location <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="" id="location"
                                      style="height: 40px;" required />
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <div class="mb-3">
                                    <label for="gender" class="form-label">Select Owner <span
                                        class="text-danger">*</span></label>
                                    <select class="form-select" id="gender" style="height: 40px;" required>
                                      <option value="">Choose District Location</option>

                                      <option value="WD">Wadajir</option>
                                      <option value="Dhr">Dharkenley</option>
                                      <option value="Dnl">Daynile</option>
                                      <option value="Wrd">Wardigley</option>
                                      <option value="HWl">Howl Wadaag</option>

                                    </select>
                                    <div class="invalid-feedback">
                                      Choose Owner Name
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="number-of-bathroom">No. of Bathrooms</label>
                                    <input type="text" class="form-control" aria-label="number-of-bathroom"
                                      aria-describedby="basic-addon1" placeholder="e.g. 2" id="number-of-bathroom"
                                      style="height: 40px;">
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="number-of-rooms">No. of Rooms</label>


                                    <input type="text" class="form-control" aria-label="number-of-rooms"
                                      aria-describedby="basic-addon1" placeholder="e.g. 6" id="number-of-rooms"
                                      style="height: 40px;">

                                  </div>
                                </div>

                              </div> <!-- end row -->
                              <div class="row">
                                <div class="col-12">


                                  <div class="mb-3">
                                    <label for="house-description" class="form-label">House Description</label>
                                    <textarea class="form-control" id="house-description" rows="3"
                                      placeholder="Write some note.."></textarea>
                                  </div>
                                </div>
                              </div> <!-- end row -->
                          </div>


                          <h4 class="page-title mt-5 fs-6 fw-bold">Property Images</h4>
                          <p class="text-muted mb-4 fs-6">Please Insert Pictures of the Apartment atleast three
                            Pictures.</p>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-1" class="form-label">Gallery_1 <span
                                    class="text-danger">*</span></label>
                                <input type="file" id="img-1" class="form-control" style="height: 38px;" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-2" class="form-label">Gallery_2</span></label>
                                <input type="file" id="img-2" class="form-control" style="height: 38px;">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-3" class="form-label">Gallery_3</label>
                                <input type="file" id="img-3" class="form-control" style="height: 38px;">
                              </div>
                            </div>
                          </div> <!-- end row -->
                          <div class="row mt-4">
                            <div class="col-sm-12">
                              <div class="text-sm-end">
                                <button class="btn btn-primary" type="submit">Submit</button>
                              </div>
                            </div> <!-- end col -->
                          </div> <!-- end row -->

                          </form>
                        </div>

                      </div> <!-- end row-->




                    </div> <!-- end card-body-->
                  </div> <!-- end card-->
                </div>

              </div>



              <h6 class="fw-bold" style="color: #1a9536;">List a Property for Sale:</h6>
              <p class="text-muted fs-6">Provide the necessary information to put your property on the market for
                sale. Activate the checkbox below to start detailing your property for sale.</p>

              <label class="checkbox-label mb-5">
                <input type="checkbox" id="checkbox3" style="width: 18px; height: 18px;"
                  onchange="toggleDetails('details3')"> PROPERTY SALE INFO
              </label>
              <div id="details3" class="details">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card border-0  shadow-none">
                      <div class="card-body">

                        <div class="row">
                          <div class="col-lg-12">

                            <form class="needs-validation" novalidate>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="house-name" class="form-label">House Name <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter your house name"
                                      id="house-name" style="height: 40px;" />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="amount" class="form-label">Rent <span class="text-danger">
                                        *</span></label>
                                    <div class="input-group flex-nowrap">
                                      <span class="input-group-text" id="basic-addon1" style="height: 40px;">$</span>
                                      <input type="text" id="amount" class="form-control" aria-label="rent"
                                        aria-describedby="basic-addon1" style="height: 40px;" required>
                                    </div>
                                  </div>
                                </div>


                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Year Built <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text"
                                      placeholder="Enter the year your apartment was built" id="year-built"
                                      style="height: 40px;" required />
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Area <span class="text-danger">
                                        *</span></label>
                                    <div class="input-group flex-nowrap">
                                      <span class="input-group-text" id="basic-addon1" style="height: 40px;">SQ
                                        FT</span>
                                      <input type="text" id="area" class="form-control" aria-label="rent"
                                        aria-describedby="basic-addon1" style="height: 40px;" required>
                                    </div>
                                  </div>
                                </div>

                              </div> <!-- end row -->

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="gender" class="form-label">Select Distric Located <span
                                        class="text-danger">*</span></label>
                                    <select class="form-select" id="gender" style="height: 40px;" required>
                                      <option value="">Choose District Location</option>

                                      <option value="WD">Wadajir</option>
                                      <option value="Dhr">Dharkenley</option>
                                      <option value="Dnl">Daynile</option>
                                      <option value="Wrd">Wardigley</option>
                                      <option value="HWl">Howl Wadaag</option>
                                      <option value="Wbr">Waberi</option>
                                      <option value="HJb">Hamar Jijab</option>
                                      <option value="Bon">Bondhere</option>
                                      <option value="Krn">Karaan</option>
                                      <option value="Yaq">Yaqshid</option>
                                      <option value="Huw">Huriwaa</option>
                                      <option value="Kd">Kahda</option>
                                      <option value="Hdn">Hodan</option>
                                      <option value="Shb">Shibis</option>
                                      <option value="Abd">Abdiaziz</option>
                                      <option value="Shg">Shangani</option>

                                    </select>
                                    <div class="invalid-feedback">
                                      Choose Owner Name
                                    </div>
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="form-control" class="form-label">Location <span
                                        class="text-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="" id="location"
                                      style="height: 40px;" required />
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="number-of-bathroom">No. of Bathrooms</label>
                                    <input type="text" class="form-control" aria-label="number-of-bathroom"
                                      aria-describedby="basic-addon1" placeholder="e.g. 2" id="number-of-bathroom"
                                      style="height: 40px;">
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="number-of-rooms">No. of Rooms</label>


                                    <input type="text" class="form-control" aria-label="number-of-rooms"
                                      aria-describedby="basic-addon1" placeholder="e.g. 6" id="number-of-rooms"
                                      style="height: 40px;">

                                  </div>
                                </div>

                              </div> <!-- end row -->
                              <div class="row">
                                <div class="col-12">


                                  <div class="mb-3">
                                    <label for="house-description" class="form-label">House Description</label>
                                    <textarea class="form-control" id="house-description" rows="3"
                                      placeholder="Write some note.."></textarea>
                                  </div>
                                </div>
                              </div> <!-- end row -->
                          </div>


                          <h4 class="page-title mt-5 fs-6 fw-bold">Property Images</h4>
                          <p class="text-muted mb-4 fs-6">Please Insert Pictures of the Apartment atleast three
                            Pictures.</p>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-1" class="form-label">Gallery_1 <span
                                    class="text-danger">*</span></label>
                                <input type="file" id="img-1" class="form-control" style="height: 38px;" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-2" class="form-label">Gallery_2</span></label>
                                <input type="file" id="img-2" class="form-control" style="height: 38px;">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="mb-3">
                                <label for="img-3" class="form-label">Gallery_3</label>
                                <input type="file" id="img-3" class="form-control" style="height: 38px;">
                              </div>
                            </div>
                          </div> <!-- end row -->
                          <div class="row mt-4">
                            <div class="col-sm-12">
                              <div class="text-sm-end">
                                <button class="btn btn-primary" type="submit">Submit</button>
                              </div>
                            </div> <!-- end col -->
                          </div> <!-- end row -->

                          </form>
                        </div>

                      </div> <!-- end row-->




                    </div> <!-- end card-body-->
                  </div> <!-- end card-->
                </div>

              </div>
            </div>



            <!-- end row -->
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->



      </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
{% endblock %}

{% block content_modal %}
{% include "accounts_app/reset_password_modal.html" %}
{% include "accounts_app/complaint_modal.html" %}
{% include "accounts_app/edit_profile.html" %}
{% endblock %}

{% block footer %}
<!-- Footer content -->
{% include 'partials/footer.html' %}

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>

{% endblock %}