{% extends "base_user.html" %}

{% load static %}




{% block content %}
    <!-- About Company  1 -->
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static "./user_styles/images/hero_bg_1.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
              <h1 class="mb-2">About Somaali Real Estate</h1>
            </div>
          </div>
        </div>
      </div>
      
  
      <!-- About Company  2 -->
      <div class="site-section">
        
        <div class="container">
          <div class="row mt-4">
            <div class="col-xl-6 order-1" data-aos="fade-up" data-aos-delay="200">
              <div class="site-section-title mt-5 mt-xl-0">
                <h2>Our Company</h2>
              </div>
              <p class="lead">Welcome to Somaali Real Estate, where your property journey begins with excellence.</p>
              <p>At Somaali Real Estate, we illuminate your real estate experience. Our commitment is to provide unparalleled service, guided by principles of transparency and client satisfaction. We take pride in navigating the intricate landscape of the Mogadishu real estate market, ensuring your property transactions are characterized by efficiency, expertise, and a focus on your unique preferences. Trust us to make your real estate aspirations a reality.</p>
              <p><a href="#" class="btn rounded-5 py-2 px-5 read" style="background-color: #26326c; color: #ffff;">Read More</a></p>
            </div>
            <div class="col-xl-6 order-xl-1" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static "./user_styles/images/about2.jpg" %}" alt="Image" class="img-fluid" style="border-radius: 10px; max-width: 100%; height: auto;">
            </div>
          </div>
        </div>
      </div>
      
      
  
      
      
      
      <!-- Leadership -->
      <div class="site-section">
      
          <div class="container mb-5 ">
            <div class="site-section-title text-center">
              <h2 id="choose">Leadership</h2>
              <p id="choose_paragraph">Experience visionary leadership at Somaali Real Estate. Our commitment to excellence is led by a team dedicated to guiding you through the intricacies of the Mogadishu real estate market, ensuring your journey is marked by expertise and personalized service.</p>
            </div>
          </div>
          
          <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">
    
                  <img src="{% static "./user_styles/images/person_1.jpg" %} " alt="Image" class="img-fluid imgborderRadius mb-4">
    
                  <div class="text">
    
                    <h2 class="mb-2 font-weight-light text-black h4">Gaab Shiine</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>I am dedicated to helping you find the perfect property in Mogadishu. With a focus on your unique needs and preferences, I strive to make your real estate experience with Somaali Real Estate exceptional.</p>
                    <p>
                      <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>
    
                </div>
              </div>
    
              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">
    
                  <img src="{% static "./user_styles/images/person_2.jpg" %}" alt="Image" class="img-fluid imgborderRadius mb-4">
    
                  <div class="text">
    
                    <h2 class="mb-2 font-weight-light text-black h4">Hashim Ahmet</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>As your real estate partner, I am committed to providing expert guidance and ensuring a smooth transaction. Trust me to navigate the Mogadishu real estate market for you, tailoring every step to meet your objectives.</p>
                    <p>
                      <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>
    
                </div>
              </div>
    
              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">
    
                  <img src="{% static "./user_styles/images/person_3.jpg" %}" alt="Image" class="img-fluid imgborderRadius mb-4">
    
                  <div class="text">
    
                    <h2 class="mb-2 font-weight-light text-black h4">Xaayow</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                    <p>Dedicated to your satisfaction, Xaayow brings personalized service and market insights to your real estate journey. Choose Somaali Real Estate for an agent committed to ensuring your success in Mogadishu's dynamic real estate market</p>
                    <p>
                      <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>
    
                </div>
              </div>
    
              
    
            </div>
        </div>
        </div>
  
  
        

  </section>

  {% include 'partials/testimonial.html' %}
  
      <!-- Frequency quesions -->
      <div class="site-section">
        
  
        <div class="container mb-5">
          <div class="site-section-title text-center">
            <h2 id="choose">Frequently Ask Questions</h2>
            <p id="choose_paragraph">Explore answers to common queries about Somaali Real Estate. From property transactions to market insights, find the information you need for a confident and informed real estate experience in Mogadishu.</p>
          </div>
        </div>
  
        <div class="container-lg">
        <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
          <div class="col-md-8">
            <div class="accordion unit-8" id="accordion">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
              </h3>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Our company is named Somaali Real Estate, reflecting our dedication to excellence and personalized service in the Mogadishu real estate market. At Somaali Real Estate, we prioritize your satisfaction and guide you through a seamless property journey with expertise and care.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
            
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">How much pay for 3  months?<span class="icon"></span></a>
              </h3>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>For a 3-month subscription at Somaali Real Estate, the cost is $750. Our pricing ensures access to a comprehensive suite of real estate services, including personalized property guidance, market insights, and transparent transactions tailored to your preferences and needs.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
  
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Do I need to join us?  <span class="icon"></span></a>
              </h3>
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Become a part of Somaali Real Estate, where opportunities align with your aspirations. Experience a supportive environment, comprehensive training, and the chance to shape the future of Mogadishu's real estate landscape. Join us and embark on a rewarding journey in the world of property with Somaali Real Estate</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
  
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
              </h3>
              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>For assistance, contact our dedicated support team at Somaali Real Estate. We are here to address your inquiries and ensure a smooth experience in navigating the Mogadishu real estate market. Your satisfaction is our priority.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
  
          </div>
          </div>
        </div>
      
      </div>
    </div>

    {% endblock %}


{% block footer %}
{% include 'partials/footer.html' %}

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>

<script src="{% static "partials/js/snipperBtn.js" %}"></script>
{% endblock  %}